<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductAttributeValueMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.ProductAttributeValue">
    <id column="ValueId" jdbcType="BIGINT" property="valueid" />
    <result column="ProductId" jdbcType="BIGINT" property="productid" />
    <result column="AttributeId" jdbcType="BIGINT" property="attributeid" />
    <result column="Value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    ValueId, ProductId, AttributeId, Value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_attribute_value
    where ValueId = #{valueid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_attribute_value
    where ValueId = #{valueid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.ProductAttributeValue">
    insert into product_attribute_value (ValueId, ProductId, AttributeId, 
      Value)
    values (#{valueid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{attributeid,jdbcType=BIGINT},
      #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.ProductAttributeValue">
    insert into product_attribute_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="valueid != null">
        ValueId,
      </if>
      <if test="productid != null">
        ProductId,
      </if>
      <if test="attributeid != null">
        AttributeId,
      </if>
      <if test="value != null">
        Value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="valueid != null">
        #{valueid,jdbcType=BIGINT},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="attributeid != null">
        #{attributeid,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.ProductAttributeValue">
    update product_attribute_value
    <set>
      <if test="productid != null">
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="attributeid != null">
        AttributeId = #{attributeid,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        Value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where ValueId = #{valueid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.ProductAttributeValue">
    update product_attribute_value
    set ProductId = #{productid,jdbcType=BIGINT},
      AttributeId = #{attributeid,jdbcType=BIGINT},
      Value = #{value,jdbcType=VARCHAR}
    where ValueId = #{valueid,jdbcType=BIGINT}
  </update>
  <select id="selectByProductIdAttributeId" resultMap="BaseResultMap">
    SELECT ValueId,Value
    FROM product_attribute_value
    WHERE ProductId = #{productId} AND AttributeId = #{attributeId}
  </select>
  <select id="selectByValueId" resultMap="BaseResultMap">
    SELECT Value
    FROM product_attribute_value
    WHERE ValueId = #{valueId}
  </select>
</mapper>